<!DOCTYPE html>
<html lang='en'>

{% if fake is not defined %}
{% set fake = 1 %}
{% endif %}

{# correct wrong timeout skip #}
{# Uppercase: synth, lowercase: real #}

<head>
    <meta charset="utf-8" />
    <title>Real or Synth</title>
    <link href="{{ url_for('static', filename='bootstrap-4.0.0/css/bootstrap.min.css')}}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',
    filename='stylesheet.css')}}" />

    <style>
        #patient {
            font-size: 1.2rem;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Real or Synth</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">New Game</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Form allows user to choose between whether the patient is real or fake. -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-3">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-auto">
                <button class="btn btn-primary btn-lg" id="real" onclick="real()">Real</button>
                <button class="btn btn-warning btn-lg" id="fake" onclick="fake()">Synth</button>
                <button class="btn btn-secondary btn-lg" id="next" onclick="next()">Next</button>
            </div>
            <div class="col-auto">
                <div class="my-1"></div>
                <h2><span id="score-span">Score: <span id="score"></span></span> <span id="time-span">Time: <span
                            id="time"></span>s</span></h3>
            </div>
        </div>
        <div class="my-4"></div>
        <div class="row">
            <div class="col-md-12">
                <pre id="patient">{{patient}}</pre>
            </div>
        </div>

        {# <canvas id="canvas"></canvas> #}

        <script src="{{ url_for('static', filename='bootstrap-4.0.0/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ url_for('static', filename='jquery-3.7.1.min.js')}}"></script>
        <script src="{{ url_for('static', filename='qrcode-1.5.4.js')}}"></script>
        <script>
            `use strict`;

            var urlParams = new URLSearchParams(window.location.search);
            var results = urlParams.get('res') || '';
            var tries = urlParams.get('tries') || 0;
            var name = urlParams.get('name') || 'Unknown';
            var dataset = urlParams.get('dataset') || 'ukn';
            var score = 0;
            var total = results.length;
            var result = '';

            // QRCode.toCanvas(document.getElementById('canvas'), 'sample text', function (error) {
            //     if (error) console.error(error)
            //     console.log('success!');
            // })

            for (let i = 0; i < total; i++) {
                if (results[i] === 'c' || results[i] === 'C') {
                    score += 1;
                }
            }

            let countdown = 10;
            const is_fake = {{ fake }};
            let finished = false;

            function set_success(failed) {
                if (finished) return;

                if (!failed) {
                    score += 1;
                    $('#score').addClass('text-success');
                } else {
                    $('#score').addClass('text-danger');
                }
                total += 1;

                clearInterval(interval);

                $('#real').prop('disabled', true);
                $('#fake').prop('disabled', true);
                $('#fake').removeClass('btn-warning');
                $('#real').removeClass('btn-primary');

                $('#next').removeClass('btn-secondary');
                $('#next').addClass('btn-primary');

                if (is_fake) {
                    $('#fake').addClass('btn-success');
                    $('#real').addClass('btn-danger');
                } else {
                    $('#real').addClass('btn-success');
                    $('#fake').addClass('btn-danger');
                }

                $('#score').text(score + '/' + total + (tries ? ' (to ' + tries + ')' : ''));
                $('#time-span').text('');
                finished = true;
            }

            function real() {
                result = is_fake ? 'W' : 'c';
                set_success(is_fake);
            }

            function fake() {
                result = is_fake ? 'C' : 'w';
                set_success(!is_fake);
            }

            function next() {
                if (!finished) {
                    total += 1;
                    result = is_fake ? 'S' : 's';
                }
                base = tries && total >= tries ? '/results' : '/game';
                window.location.href = base + '?res=' + results + result + '&tries=' + tries + '&name=' + name + '&dataset=' + dataset;
            }

            $('#score').text(score + '/' + total + (tries ? ' (to ' + tries + ')' : ''));
            $("#time").text(countdown);
            // Update the time every second.
            let interval = setInterval(() => {
                countdown -= 1;
                $("#time").text(countdown);
                if (countdown <= 3) {
                    $('#time-span').addClass('text-danger');
                }

                if (countdown <= 0) {
                    result = is_fake ? 'T' : 't';
                    set_success(true);
                }
            }, 1000);
        </script>
</body>

</html>