<!DOCTYPE html>
<html lang='en'>

{% if synth is not defined %}
{% set synth = 1 %}
{% endif %}
{% if peek is not defined %}
{% set peek = true %}
{% endif %}

<head>
    <meta charset="utf-8" />
    <title>Real or Synth</title>
    <link href="{{ url_for('static', filename='bootstrap-4.0.0/css/bootstrap.min.css')}}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',
    filename='stylesheet.css')}}" />

    <style>
        #subject {
            font-size: 1.2rem;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Real or Synth</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">New Experiment</a>
                    </li>
                </ul>
            </div>
            <span class="navbar-text">Name: <span id="name">{{name}}</span></span>
            </span>
        </div>
    </nav>

    <!-- Form allows user to choose between whether the subject is real or fake. -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-3">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-auto">
                <button class="btn btn-primary btn-lg" id="real" onclick="real()">Real</button>
                <button class="btn btn-warning btn-lg" id="fake" onclick="fake()">Synth</button>
                {% if peek == "true" %}
                <button class="btn btn-secondary btn-lg" id="next" onclick="next()">Next</button>
                {% endif %}
                <button class="btn btn-secondary btn-lg" id="finish" onclick="finish()">Finish</button>
            </div>
            <div class="col-auto">
                <div class="my-1"></div>
                <h2>
                    {% if peek == "true" %}
                    <span id="score">✅ {{score}}, Progress: {{total}}/{{tries}}</span>

                    {% else %}
                    <span id="score-span">Progress:
                        <span id="score">{{total}}/{{tries}}</span>
                    </span>
                    {% endif %}
                    <span id="time-span">Time: <span id="time">0</span>s</span>
                </h2>
            </div>
        </div>
        <div class="my-4"></div>
        <div class="row">
            <!--
            <div class="col-md-12">
                <pre id="subject">{{subject}}</pre>
            </div>
            -->
            {{subject|safe}}
        </div>

        <script src="{{ url_for('static', filename='bootstrap-4.0.0/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ url_for('static', filename='jquery-3.7.1.min.js')}}"></script>
        <script>
            `use strict`;

            // jquery extend function
            // https://stackoverflow.com/a/23347763
            $.extend(
                {
                    redirectPost: function (location, args) {
                        var form = '';
                        $.each(args, function (key, value) {
                            value = String(value).split('"').join('\"')
                            form += '<input type="hidden" name="' + key + '" value="' + value + '">';
                        });
                        $('<form action="' + location + '" method="POST">' + form + '</form>').appendTo($(document.body)).submit();
                    }
                });

            const session = "{{ session }}";
            const idx = {{ idx }};
            const synth = {{ synth }};
            const peek = {{ peek }};
            let score = {{ score }};
            let total = {{ total }};
            let time = 0;
            const total_time = {{ total_time }};
            const tries = {{ tries }};
            let result = null;

            let finished = false;
            let exit = false;

            function set_success(failed) {
                if (finished) return;
                finished = true;

                if (!peek) {
                    goto_next();
                    return;
                }

                if (!failed) {
                    score += 1;
                    $('#score').addClass('text-success');
                } else {
                    $('#score').addClass('text-danger');
                }
                total += 1;

                clearInterval(interval);

                $('#real').prop('disabled', true);
                $('#fake').prop('disabled', true);
                $('#fake').removeClass('btn-warning');
                $('#real').removeClass('btn-primary');

                $('#next').removeClass('btn-secondary');
                $('#next').addClass('btn-primary');
                $('#finish').removeClass('btn-secondary');
                $('#finish').addClass('btn-primary');

                if (synth) {
                    $('#fake').addClass('btn-success');
                    $('#real').addClass('btn-danger');
                } else {
                    $('#real').addClass('btn-success');
                    $('#fake').addClass('btn-danger');
                }

                $('#score').text(`✅ ${score}, Progress: ${total}/${tries}`);
                $('#time-span').text('');
            }

            // Update the time every second.
            let interval = setInterval(() => {
                time += 1;
                $('#time').text(time);
            }, 1000);

            function real() {
                result = synth ? "incorrect" : "correct";
                set_success(synth);
            }

            function fake() {
                result = synth ? "correct" : "incorrect";
                set_success(!synth);
            }

            function next() {
                if (!peek) return;

                if (!result) result = "skipped";

                goto_next();
            }

            function goto_next() {
                $.redirectPost("/game?session=" + session, { session, idx, result, time });
            }

            function finish() {
                window.location.href = "/results?session=" + session;
            }
        </script>
</body>

</html>