<!DOCTYPE html>
<html lang='en'>

{% if fake is not defined %}
{% set fake = 1 %}
{% endif %}
{% if datasets is not defined %}
{% set datasets = ({ "med-e1": "MedOnc e=1", "med-e10": "MedOnc e=10", "med-e100": "MedOnc e=100" }) %}
{% endif %}
{% if tries is not defined %}
{% set tries = [5,30,100] %}
{% endif %}

{# correct wrong timeout skip #}
{# Uppercase: synth, lowercase: real #}

<head>
    <meta charset="utf-8" />
    <title>Real or Synth</title>
    <link href="{{ url_for('static', filename='bootstrap-4.0.0/css/bootstrap.min.css')}}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',
    filename='stylesheet.css')}}" />

    <style>
        #patient {
            font-size: 1.2rem;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Real or Synth</a>
        </div>
    </nav>

    <div class="container align-items-center">
        <form class="row needs-validation justify-content-center my-5" action="/game" method="get">
            <div class="col-auto">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Experiment Setup</h5>

                        <div class="dropdown-divider"></div>
                        <h6 class="card-subtitle mb-2 mt-3 text-muted">Dataset Selection</h6>

                        {% for dataset in datasets %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="dataset" id="{{dataset}}"
                                value="{{dataset}}" {% if loop.last %} checked {% endif %}>
                            <label class="form-check-label" for="{{dataset}}">
                                {{ datasets[dataset] }}
                            </label>
                        </div>
                        {% endfor %}

                        <div class="dropdown-divider"></div>
                        <h6 class="card-subtitle mb-2 mt-3 text-muted">Tries</h6>

                        {% for try in tries %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="tries" id="try-{{try}}" value="{{try}}"
                                {% if loop.last %} checked {% endif %}>
                            <label class="form-check-label" for="{{try}}">{{try}}</label>
                        </div>
                        {% endfor %}

                        <div class="dropdown-divider"></div>

                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" id="name" name="name"
                                aria-describedby="inputGroup-sizing-default" required>
                        </div>
                        <div class="dropdown-divider"></div>
                        <input class="btn btn-primary float-right" type="submit" value="Begin">
                    </div>
                </div>
            </div>
        </form>

        <script src="{{ url_for('static', filename='bootstrap-4.0.0/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ url_for('static', filename='jquery-3.7.1.min.js')}}"></script>
</body>

</html>