<!DOCTYPE html>
<html lang='en'>

{% if rounds is not defined %}
{% set rounds = ({ }) %}
{% endif %}
{% if sessions is not defined %}
{% set sessions = ({ }) %}
{% endif %}

<head>
    <meta charset="utf-8" />
    <title>Real or Synth</title>
    <link href="{{ url_for('static', filename='bootstrap-4.0.0/css/bootstrap.min.css')}}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',
    filename='stylesheet.css')}}" />

    <style>
        #patient {
            font-size: 1.2rem;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Real or Synth</a>
        </div>
    </nav>

    <div class="container align-items-center">
        <form class="row needs-validation justify-content-center my-5" action="/begin" method="get">
            <div class="col-auto">
                <div class="card" style="width: 26rem;">
                    <div class="card-body">
                        <h5 class="card-title">Experiment Setup</h5>

                        <div class="dropdown-divider"></div>
                        <h6 class="card-subtitle mb-2 mt-3 text-muted">Select round</h6>

                        {% for round in rounds %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="round" id="{{round}}" value="{{round}}"
                                {% if loop.first %} checked {% endif %}>
                            <label class="form-check-label" for="{{round}}">
                                {{ rounds[round] }}
                            </label>
                        </div>
                        {% endfor %}

                        <div class="dropdown-divider"></div>

                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" id="name" name="name"
                                aria-describedby="inputGroup-sizing-default" required>
                        </div>
                        <div class="dropdown-divider"></div>
                        <input class="btn btn-primary mt-2" type="submit" value="Begin">

                        {% if sessions %}
                        <div class="dropdown-divider mt-3"></div>
                        <h6 class="card-subtitle mb-2 mt-3 text-muted">Resume Session</h6>

                        {% for session in sessions %}
                        <div class="btn-group">
                            <a href="/game?session={{session}}" class="btn btn-info active my-1" role="button"
                                aria-pressed="true">{{ sessions[session] }}</a>
                            <a href="/delete?session={{session}}" class="btn btn-danger active my-1" role="button"
                                aria-pressed="true">Delete</a>
                        </div>
                        {% endfor %}
                        {% endif %}

                        {% if history %}
                        <div class="dropdown-divider mt-3"></div>
                        <h6 class="card-subtitle mb-2 mt-3 text-muted">Finished Experiments</h6>

                        {% for session in history %}
                        <div class="btn-group">
                            <a href="/results?session={{session}}" class="btn btn-light active my-1" role="button"
                                aria-pressed="true">{{ history[session] }}</a>
                            {# <a href="/delete?session={{session}}" class="btn btn-danger active my-1" role="button"
                                aria-pressed="true">Delete</a> #}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>

        <script src="{{ url_for('static', filename='bootstrap-4.0.0/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ url_for('static', filename='jquery-3.7.1.min.js')}}"></script>
</body>

</html>